[submodule "Act_samples"]
	path = Act_samples
	url = https://github.com/monowireless/Act_samples
[submodule "TWENET/current/src/mwx"]
	path = TWENET/current/src/mwx
	url = https://github.com/monowireless/mwx
