[submodule "Act_samples"]
	path = Act_samples
	url = https://github.com/monowireless/Act_samples
[submodule "TWENET/current/src/mwx"]
	path = TWENET/current/src/mwx
	url = https://github.com/monowireless/mwx
[submodule "TWENET/current/src/twesettings"]
	path = TWENET/current/src/twesettings
	url = https://github.com/monowireless/twesettings
[submodule "Wks_TweApps/App_IO"]
	path = Wks_TweApps/App_IO
	url = https://github.com/monowireless/App_IO
[submodule "Wks_TweApps/App_Uart"]
	path = Wks_TweApps/App_Uart
	url = https://github.com/monowireless/App_Uart
[submodule "Wks_TweApps/App_Twelite"]
	path = Wks_TweApps/App_Twelite
	url = https://github.com/monowireless/App_Twelite
[submodule "Wks_TweApps/App_Tag"]
	path = Wks_TweApps/App_Tag
	url = https://github.com/monowireless/App_Tag
[submodule "Wks_TweApps/App_PAL"]
	path = Wks_TweApps/App_PAL
	url = https://github.com/monowireless/App_PAL
[submodule "Wks_TweApps/App_Wings"]
	path = Wks_TweApps/App_Wings
	url = https://github.com/monowireless/App_Wings
[submodule "Wks_TweApps/App_Melody"]
	path = Wks_TweApps/App_Melody
	url = https://github.com/monowireless/App_Melody
[submodule "Wks_TweApps/Samp_Wayback"]
	path = Wks_TweApps/Samp_Wayback
	url = https://github.com/monowireless/Samp_Wayback
[submodule "Wks_TweApps/Samp_SPI"]
	path = Wks_TweApps/Samp_SPI
	url = https://github.com/monowireless/Samp_SPI
[submodule "Wks_TweApps/Samp_PingPong"]
	path = Wks_TweApps/Samp_PingPong
	url = https://github.com/monowireless/Samp_PingPong
[submodule "Wks_TweApps/Samp_PER"]
	path = Wks_TweApps/Samp_PER
	url = https://github.com/monowireless/Samp_PER
[submodule "Wks_TweApps/Samp_I2C"]
	path = Wks_TweApps/Samp_I2C
	url = https://github.com/monowireless/Samp_I2C
[submodule "Wks_TweApps/Samp_ContTX"]
	path = Wks_TweApps/Samp_ContTX
	url = https://github.com/monowireless/Samp_ContTX
[submodule "Act_extras/ActEx_DIO_Trans"]
	path = Act_extras/ActEx_DIO_Trans
	url = https://github.com/monowireless/ActEx_DIO_Trans
[submodule "Act_extras/ActEx_Sns_VL53L1X"]
	path = Act_extras/ActEx_Sns_VL53L1X
	url = https://github.com/monowireless/ActEx_Sns_VL53L1X
[submodule "Act_extras/ActEx_Sns_BME280_SHT30"]
	path = Act_extras/ActEx_Sns_BME280_SHT30
	url = https://github.com/monowireless/ActEx_Sns_BME280_SHT30
[submodule "Act_extras/ActEx_Sns_MLX90614"]
	path = Act_extras/ActEx_Sns_MLX90614
	url = https://github.com/monowireless/ActEx_Sns_MLX90614
